.App {
  text-align: center;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.app-header .MuiAppBar-colorPrimary {
  background-color: #40576F;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.app-header .MuiTypography-h1 {
  font-size: calc(10px + 6vmin);
} 

.app-main .search {
  margin: 10px 0 20px;
}

.app-main .search .stock-input {
  margin: 5px;
  width: 20%;
  min-width: 220px;
}

.app-main .search .search-button {
  background-color: #40576F;
  color: white;
  margin: 5px;
}

.app-main .chips .MuiBadge-badge {
  color: #40576F;
}

.app-main .chips .badge {
  margin: 10px;
}

.app-main .chips .chip {
  background-color: #40576F;
  color: white;
  margin: 5px;
}

.app-main .tweets {
  width: 60%;
  margin: 0 auto;
}

.app-main .tweets .card {
  border-radius: 0;
  text-align: left;
}

.app-main .tweets .card .MuiCardContent-root {
  display: grid;
  grid-template-areas: 
    'picture namearea'
    'picture text';
  grid-template-columns: 20% 80%;
}

.app-main .tweets .picture {
  grid-area: picture;
  display: grid;
  justify-content: center;
}

.app-main .tweets .namearea {
  grid-area: namearea;
}

.app-main .tweets .name {
  font-weight: bold;
}

.app-main .tweets .username {
  color: rgb(101, 119, 134);
}

.app-main .tweets .text {
  grid-area: text;
}


@media only screen and (max-width: 960px) {
  .app-main .tweets {
    width: 75%;
  }
}

@media only screen and (max-width: 450px) {
  .app-main .tweets {
    width: 90%;
  }

  .app-main .tweets .picture {
    justify-content: end;
  }
}